<!DOCTYPE html>
<html>
    <head>
        <%- include ./blocks/layout.ejs %>
    </head>
    <body>

        <hr>
        <div class="text-center">
            <button onclick="location.href='index.ejs'">index</button>
        </div>
    </body>
</html>
